/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff0000;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

h3 {
    color: #333;
    margin-top: 20px;
}

ul {

    list-style-type: none;
    padding: 0;
}

ul li {
    background: #007bff;
    color: white;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
}

/* Image Styling */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
}

/* Form Styling */
form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #0056b3;
}

/* Footer Styling */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}